# Project data
data/*.csv
data/*.xlsx
data/*.xls
data/*.json
data/*.parquet

# Environment variables / secrets
.env
.env.*

# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/